@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

$font: 'Montserrat', sans-serif;

$prime: #197bbd;

$second: #3a506b;

$third: #eb5e55;

$grey: #F1F1F1;

$darken: darken($second, 12%);